version: "3.9"

services:
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    networks:
      - redis_network

  app:
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - 8000:8000
    volumes:
      - .:/usr/src/app
    depends_on:
      - redis
    env_file:
      - .env
    networks:
      - redis_network
      - profanity-filter_profanity_network

networks:
  redis_network:
  profanity-filter_profanity_network:
    external: true
